div.metadata {
    margin-top: 20px;
    font-size: 1.5em;
}

.login {
    color: white;
    margin-top: 15px;
    text-align: right;
}

.chart {
    padding-bottom: 20px;
}

ul {list-style-type: none;}

.post {
    width: 500px;
    margin-top: 15px;
    float: left;
}

.post img {
    width: 150px;
    height: 100px;
    margin-bottom: 15px;
    margin-right: 20px;
    object-fit: cover;
}

.TextWrap {
    float: left;
}