div.metadata {
    margin-top: 20px;
    font-size: 1.5em;
}

.login {
    color: white;
    margin-top: 15px;
    text-align: right;
}

img {
    float: left;
    margin: 0 20px 20px 0;
}

p {
    text-align: justify;
    text-indent: 2em;
}