{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head><title>People Talking About This</title></head>
    	<h2>People Talking About This by Gender and Age</h2>
    	<h3>Facebook page: {{ page_name }}</h3>
    	<h3>Period: {{ since }} - {{ until }}</h3>
        <body>
        
        <div class="chart" id="chart">
            <div>
            <img src="/static/charts/{{ timestr }}.png">
            </div>
        </div>  
            
        <h3>The highest number of female users {{ peak_value }} was registered on {{ peak_date }}. </h3>
        </body>
</html>
{% endblock %}